Vagrant.configure("2") do |config|
  {% if multi_machine %}
  {% for machine in machines %}
  config.vm.define "{{ machine.name }}" do |{{ machine.name }}|
    {{ machine.name }}.vm.box = "{{ machine.box }}"
    {% if machine.synced_folder %}
    {{ machine.name }}.vm.synced_folder "{{ machine.synced_folder.host }}", "{{ machine.synced_folder.guest }}"
    {% endif %}
    {% if machine.memory %}
    {{ machine.name }}.vm.provider "virtualbox" do |vb|
    vb.memory = {{ machine.memory }}
    end
    {% endif %}
  end
  {% endfor %}
  {% else %}
  config.vm.box = "{{ box_name }}"
  {% endif %}
end
