Vagrant.configure("2") do |config|
    {% if multi_machine %}
    {% for machine in machines %}
    config.vm.define "{{ machine.name }}" do |{{ machine.name }}|
        {{ machine.name }}.vm.box = "{{ machine.box.strip() if machine.box and machine.box.strip() else 'hashicorp/bionic64' }}"
        {% if machine.box_version %}
        {{ machine.name }}.vm.box_version = "{{ machine.box_version }}"
        {% endif %}
        {% if machine.disk_size %}
        # Requires: vagrant plugin install vagrant-disksize
        {{ machine.name }}.disksize.size = "{{ machine.disk_size }}GB"
        {% endif %}
        {% for iface in machine.network_interfaces %}
        {% if iface.type == "Host Only/Private Interface" %}
        {{ machine.name }}.vm.network "private_network"{% if iface.ip %}, ip: "{{ iface.ip }}"{% endif %}{% if iface.subnet_mask %}, netmask: "{{ iface.subnet_mask }}"{% endif %}{% if iface.gateway %}, gateway: "{{ iface.gateway }}"{% endif %}
        
        {% elif iface.type == "Public/Bridge Interface" %}
        {{ machine.name }}.vm.network "public_network"{% if iface.ip %}, ip: "{{ iface.ip }}"{% endif %}{% if iface.subnet_mask %}, netmask: "{{ iface.subnet_mask }}"{% endif %}{% if iface.gateway %}, gateway: "{{ iface.gateway }}"{% endif %}
        
        {% endif %}
        {% endfor %}
        {{ machine.name }}.vm.hostname = "{{ machine.hostname }}"
        {{ machine.name }}.vm.provider "virtualbox" do |vb|
            vb.name = "{{ machine.name }}"
            vb.memory = {{ machine.ram }}
            vb.cpus = {{ machine.cpu }}
        end
        {% for folder in machine.sync_folders %}
        {{ machine.name }}.vm.synced_folder "{{ folder.host_folder }}", "{{ folder.vm_destination }}"
        {% endfor %}
        {% for provisioner in machine.provisioners %}
        {% if provisioner.type == "shell" %}
        {{ machine.name }}.vm.provision "shell", path: "{{ provisioner.path }}"
        {% elif provisioner.type == "file" %}
        {{ machine.name }}.vm.provision "file", source: "{{ provisioner.source }}", destination: "{{ provisioner.destination }}"
        {% endif %}
        {% endfor %}
    end
    {% endfor %}
    {% endif %}
end
